body, header, nav, div, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Francois One';
}

img {
    width:100%;
    display: block;
}

.container {
    padding: 0;
}

header {
    float: left;
    width: 25%;
}

header img {
    display: block;
    margin: 0;
    max-width: 50%;
}

nav {
    float: right;
    margin: 5em 3em 0 0;
    width: 70%;
}
main {
    clear: left;
}

h1 {
    text-align: center;
}

/* Styles for navigation area */
nav ul {
    list-style: none;
    margin: 0 8em 3em 0;
    text-align: right;
    text-decoration: none;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Francois One';
}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Styles for home page */

main h1 {
    margin: 2em 0 0.5 0;
    text-align: center;
    font-family: 'Francois One';
}

main h2 {
    margin:0 auto;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

main p {
    margin: 0;
    text-align: center;
    font-style: italic;
}

.horoscope-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
}

#imghoroscope {
    position: absolute;
    top: 115%;
    left: 2%;
    max-width: 40%;
    max-height: 40%;
    padding: 2% 2% 5% 0;
}

#defhoroscope {
    font-size: 1em;
    color: #5a7185;
    padding: 5%;
    max-width: 50%;
    padding-left: 45%;
}

#defhoroscope p {
    font-style: normal;
    color:  #000;
    padding-bottom: 2%;
}

a:link {
    font-style: bold;
    color:  #000;
    text-decoration: none;
}

a:hover {
    color: #5a7185;
    background-color: transparent;
    text-decoration: none;
  }

/* Form style */

fieldset, input, select, textarea {
    margin-bottom: 2%;
}

#titleform {
    margin: 2%;
    font-weight: lighter;
    font-size: 2.5;
}

#pform {
    margin: 2%;
    font-size: 1.2em;
    font-style: normal;
    color: #d0e1ef;
    
}

#form {
    margin: 5%;
    max-width: max-content;
    align-items: left;
    background-color: rgba(95, 124, 153, 0.684);
    padding: 3em;
    max-width:fit-content;
    border-radius: 2em;
}

fieldset {
    border-color: #f1f1f1;
    border-style: solid;
}

fieldset legend {
    display: inline-block;
    padding: 0 2%;
    font-size: large;
}

label {
    display: block;
    padding-top: 3%;
}

select {
    width: 100%;
    padding: 1em 1.5em;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  input[type=text], [type=email], [type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2em;
    box-sizing: border-box;
  }
  
form #submit {
    margin: 0 auto;
    text-align: center;
    border: none;
    display: block;
    padding: 1em 5em;
    background-color: #f1f1f1;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Francois One';
}

form #submit:hover {
    margin: 0 auto;
    text-align: center;
    border: none;
    display: block;
    padding: 1em 5em;
    background-color:rgba(95, 124, 153, 0.684);
    border: 0.1em solid #f1f1f1;
    color: #f1f1f1;
    font-size: 1em;
    border-radius: 15em;
    font-family: 'Francois One';
    transition-duration: 0.75s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer .copyright {
    font-size: 0.75em;
    text-align: center;
    color: #f1f1f1;
    background-color: rgba(95, 124, 153, 0.684);
    padding: 2% 0 2% 0;
    width: 100%;
}


/* Signs and Dates page styles */

#signs-dates h1 {
    background-color:  rgba(95, 124, 153, 0.684);
    color: #f1f1f1;
    font-style: normal;
    padding: 2em;
}

#signs-dates h2 {
    font-style: normal;
    padding: 2em;
}

table { 
    width: 100%;
    padding: 2em;
    text-align: center;
}

table img {
    align-items: left;
}


/* Signs' characteristics page style */

#characteristics h1 {
    background-color:  rgba(95, 124, 153, 0.684);
    color: #f1f1f1;
    font-style: normal;
    padding: 2em;
}

#characteristics h2 {
    font-style: normal;
    padding: 2em;
}

#characteristics table {
    border-collapse: collapse;
}

#characteristics th, td {
    padding: 1em;
    border-bottom: 0.01em solid #d0e1ef;
}

#characteristics tr:hover {
    background-color: #d0e1ef;
}

/* Signs' traits page style */

#trait h1 {
    background-color:  rgba(95, 124, 153, 0.684);
    color: #f1f1f1;
    font-style: normal;
    padding: 2em;
}

#trait h2 {
    font-style: normal;
    padding: 2em;
}

#trait table {
    border-collapse: collapse;
    text-align: center;
}

#trait th, td {
    padding: 1em;
    border-bottom: 0.01em solid #d0e1ef;
}

#trait tr:hover {
    background-color: #d0e1ef;
}


/* Contact page styles */

#contact h1 {
    background-color:  rgba(95, 124, 153, 0.684);
    color: #f1f1f1;
    font-style: normal;
    padding: 2em;
}

#contact h3 {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding: 5% 15%;
}

#contact-img {
    position: absolute;
    top: 20%;
    right: -20%;
    width: 30em;
    padding: 2% 2% 5% 0;
}

#work-with-us h1 {
    padding: 0 auto;
}

#work-with-us h3 {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding: 0 15% 5%;
}